/*My Tasks Container*/
.my-tasks--container{
    height: 85%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.my-tasks--title{
    font-size: 5rem;
    margin-bottom: 5px;
}

/*Todo Counter*/

.todoCounter-title{
    font-size: 2rem;
}

/*Todo Search*/

.todo-search--input{
    margin: 10px 0;
    width: 70%;
    height: 35px;
    border-radius: 10px;
    border: 0;
    padding: 7px;
    font-family: 'Dosis', sans-serif;
    -webkit-box-shadow: 0px 0px 31px -3px rgba(110,110,110,1);
    -moz-box-shadow: 0px 0px 31px -3px rgba(110,110,110,1);
    box-shadow: 0px 0px 31px -3px rgba(110,110,110,1);
}

.todo-search--input:focus{
    outline-color:dodgerblue;
}

/*Todo List*/

.todo-list--ul{
    list-style: none;
    width: 320px;
}

.scrollingDiv {
    overflow-y: auto;
    max-height: 300px;
  }

  .scrollingDiv::-webkit-scrollbar {
    width: 7px;
    background: rgba(241,112,92,1);
    border-radius: 10px;
  }

  .scrollingDiv::-webkit-scrollbar-thumb {
    background: #aa7474;
    border-radius: 10px;
  }

  .scrollingDiv::-webkit-scrollbar-thumb:hover {
    background: #7c5959;
  }

/*Todo Item*/

.todo-item--li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;
    height: 50px;
    background-color:honeydew;
    border-radius: 10px;
    padding: 15px;
}

.icon {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-check--active{
    fill: rgb(0, 190, 0);
}

.icon-check:hover .icon-svg{
    fill: rgb(0, 190, 0);
}

.icon-delete{
    margin-left: auto;
}

.icon-delete:hover .icon-svg{
    fill: red;
}

.item-p--complete{
    text-decoration: line-through;
}

.item-p{
    font-size: 1.4rem;
    margin-left: 15px;
}

/*Empty Todos*/
.empty-container{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: coral;
    color: #000;
    text-align: center;
    font-size: 1.9rem;
}

/*Loading Todos*/
.lds-hourglass {
    overflow-y: none;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid coral;
    border-color: coral transparent coral transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.30, 0.70, );
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.50, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

/*Mobile*/
@media (max-width: 860px) {
    .my-tasks--container{
        height: 60%;
    }
}
